@{
    var breadcrumb = $"{Context.Request.Path}".TrimStart('/').Split("/");
}

<section class="breadcrumb">
    <div class="container">
        <ul class="breadcrumb-list">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>        

            @foreach (var path in breadcrumb)
            {
                <li> > @path</li>
            }

        </ul>
    </div>
</section>