<section class="showcase container">
    <img src="~/images/showcase-img-1.png" class="showcase-image-left" alt="showcase-img-1" />
    <div class="showcase-body">
        <h1>Sale Up</h1>
        <h1>To 50% Off</h1>
        <p>Online shopping free home delivery over $100</p>
        <a class="btn-theme">SHOP NOW</a>
    </div>
    <img src="~/images/showcase-img-2.png" class="showcase-image-right" alt="showcase-img-2" />
</section>