@{
    ViewData["Title"] = "Contact Us";
}

<section class="breadcrumb">
    <div class="container">
        <ul class="breadcrumb-list">
            <li><a asp-controller="Home" asp-action="Index">Home</a> > </li>        
            <li>Contact Us</li>
        </ul>
    </div>
</section>