<div class="breadcrumb">
    <div class="container">
        <ul class="breadcrumb-list">
            <li><a href="#">About</a> <span class="divider">></span></li>
            <li class="active">@ViewData["PageTitle"]</li>
        </ul>
    </div>
</div>