<form>
    <div>
        <input id="name" type="text" placeholder="Your Name" />
        <div class="errorMessage"></div>
    </div>
    <div>
        <input id="email" type="email" placeholder="Your Mail" />
        <div class="errorMessage"></div>
    </div>
    <div class="textarea">
        <textarea id="comments" placeholder="Comments"></textarea>
        <div class="errorMessage"></div>
    </div>
    <div class="formBtn">
        <button type="submit" class="btn btn-theme">Post Comments</button>
    </div>
</form>

